.u-body
{
    font-family: 'Nanum Gothic', sans-serif;
    overflow: hidden;
}

.u-absolute-fill
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.u-header
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    box-shadow: 0 2px 4px rgba(150, 150, 150, 0.5);
    background-color: rgba(255, 255, 255,0.9);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 10;
}

.u-header .u-home-title
{
    color: darkgrey;
    font-weight: bold;
    font-size: 1.6em;
    cursor: pointer;
}

.u-header .u-right-links
{
    float: right;
    width: 60px;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}

.u-header-mail-link svg:hover
{
    fill: #444;
}

.u-header-github-link svg:hover
{
    fill: #444;
}

.u-main
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 60px;
    overflow-y: scroll;
}

.u-main-wrapper
{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
}

.u-main-title
{
    padding: 0 10px;
    font-weight: 500;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.u-main-menu
{
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    padding: 10px;
}

.u-menu-body
{
    flex: 1 1;
    overflow: auto;
}

.u-menu-footer
{
    flex: 0 0 30px;
    display: flex;
    align-items: center;
}

.u-main-menu-inprogress
{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.u-mobile-posts-menu
{
    z-index: 5 !important;
}

.u-mobile-posts-menu .b-sidebar
{
    background-color: rgba(255, 255, 255, 0.95) !important;
    padding-top: 50px;
}

.u-mobile-posts-menu .b-sidebar-body
{
    padding: 10px;
}

.u-menu-toggle-btn
{
    margin-right: 10px;
    display: none !important;
}

.u-menu-title
{
    cursor: default;
    font-size: 1.1em;
    color: #666;
    display: flex;
    align-items: center;
}

.u-menu-categories
{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.u-menu-category
{
    cursor: pointer;
    color: #ccc;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.u-menu-category .b-icon
{
    opacity: 0.5;
    margin-right: 7px;
}

.u-menu-active-category
{
    color: #444;
}

.u-menu-active-category .b-icon
{
    opacity: 1;
}

.u-menu-all-tag-toggle-btn
{
    font-weight: normal !important;
    margin-left: 10px;
    cursor: pointer;
}

.u-menu-tags
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.u-menu-tag
{
    margin: 0 3px 3px 0;
    cursor: pointer;
}

.u-menu-demos
{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.u-menu-demo
{
    margin-bottom: 10px;
}

.u-menu-demo .b-icon
{
    opacity: 0.5;
    margin-right: 7px;
}



.u-main-content
{
    flex-grow: 1;
}

.u-post-view .u-main-content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.u-posts
{
    display: flex;
    align-content: space-around;
    margin: 0 auto;
}

.u-posts .u-posts-inprogress
{
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.u-posts-list
{
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
}

.u-posts-grid
{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 5px;
}

.u-posts-orderby-btn
{
    width: 94px;
}

.u-post-item
{
    box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);
    margin: 0 5px 10px 5px;
    padding: 7px;
    cursor: pointer;
    display: flex;
}

.u-post-item-wrapper
{
    display: flex;
    flex: 1 1;
}

.u-post-item:hover
{
    box-shadow: 0 0 6px rgba(150, 150, 150, 0.8);
}

.u-post-item-inprogress
{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.u-post-item-thumbnail
{
    object-fit: cover;
    box-shadow: 0 0 2px rgba(150, 150, 150, 0.5);
}

.u-post-item-date
{
    color: #999 !important;
    font-weight: normal !important;
}

.u-post-item-thumbnail .u-post-item-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.u-post-item-content
{
    font-size: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.u-post-item-header
{
    flex: 0 0 20px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.u-post-item-header .u-post-item-title
{
    flex: 1 0;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-post-item-body
{
    flex: 1 1;
}

.u-post-item-body .u-post-item-summary
{
    flex: 1 1;
    font-size: 90%;
    color: #666;
    display: block;
    overflow: auto;
}

.u-post-item-footer
{
    display: flex;
    flex: 0 0 15px;
    flex-shrink: 0;
    font-size: 90%;
    margin-top: 3px;
    justify-content: space-between;
    align-items: center;
}

.u-post-item-footer .u-post-item-tag
{
    margin-right: 3px;
    font-weight: 500 !important;
    color: #444 !important;
    background-color: #CCC !important;
}

.u-post-item-error
{
    font-size: 80%;
    align-self: center;
    flex: 1 1 100%;
    text-align: center;
}

.u-posts-list .u-post-item-inprogress
{
    padding: 20px 0;
}

.u-posts-list .u-post-item-thumbnail
{
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}

.u-posts-list .u-post-item-content
{
    height: 100px;
}

.u-posts-grid .u-post-item-inprogress
{
    padding: 20px 0;
}

.u-posts-grid .u-post-item
{
    flex: 1 1 225px;
}

.u-posts-grid .u-post-item-thumbnail
{
    flex: 0 0 120px;
    height: 120px;
    margin-right: 10px;
}

.u-posts-grid .u-post-item-body
{
    display: flex;
}

.u-post .u-main-content
{
    width: 100%;
}

.u-post-title
{
    padding: 0 10px;
    font-weight: 500;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}

.u-post-info
{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.u-post-info .u-post-date
{
    color: #666;
    background-color: #ddd;
    font-weight: normal;
}

.u-post-info .u-post-tag
{
    color: #ddd;
    background-color: #555;
    font-weight: normal;
    margin-right: 5px;
}

.u-post-content
{
    box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);    
    padding: 15px;
    margin: 10px;
    max-width: 1000px;
    flex-grow: 1;
}

.u-post-content .markdown-body
{
    font-size: 100%;
}

.u-post-content .u-post-inprogress
{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.u-post-comments
{
    box-shadow: 0 0 4px rgba(150, 150, 150, 0.5);    
    padding: 15px;
    margin: 10px;
    max-width: 1000px;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 345px;
}

.u-about .u-main-content
{
    width: 100%;
}

.u-about-title
{
    padding: 0 10px;
    font-weight: 500;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}

.u-no-post
{
    padding: 10% 0;
    line-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-no-post .b-icon
{
    margin-right: 5px;
}

.u-page-not-found
{
    padding: 10% 0;
    line-height: 3em;
}

.u-page-not-found .b-icon
{
    margin-right: 5px;
}


.u-align-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-back-btn
{
    margin-right: 10px;
    align-items: center;
    display: flex !important;
    padding: 0.25rem 0.2rem !important;
}

.u-home-btn
{
    margin-top: 40px;
    align-items: center;
    display: flex !important;
    padding: 0.25rem 0.2rem !important;
}

.u-back-btn:hover
{
    box-shadow: 0 0 2px rgba(150, 150, 150, 0.8);
}

.u-back-btn:focus
{
    outline: none;
}

@media only screen and (max-width: 900px) {
    /* For small screen: */
    .u-posts-grid .u-post-item-thumbnail
    {
        flex: 0 0 100px;
        height: 100px;
        margin-right: 5px;
    }

    .u-posts-grid .u-post-item
    {
        flex: 1 1 210px;
    }

    .u-post-item-title
    {
        font-size: 90%
    }

    .u-post-item-summary
    {
        font-size: 90%
    }

    .u-post-item-content
    {
        font-size: 80%;
    }

    .u-post-title
    {
        font-size: 100%
    }

    .u-post-content .markdown-body
    {
        font-size: 100%;
    }
}

@media only screen and (max-width: 650px) {
    /* For mobile: */

    .u-main-menu
    {
        display: none;
    }

    .u-menu-toggle-btn
    {
        display: inline-block !important;
    }

    .u-menu-tags
    {
        font-size: 110%;
    }

    .u-post-item-header
    {
        flex: 0 0 15px;
    }

    .u-posts-list .u-post-item-thumbnail
    {
        flex: 0 0 80px;
        height: 80px;
    }
    
    .u-posts-list .u-post-item-content
    {
        height: 80px;
    }

    .u-posts-grid .u-post-item-thumbnail
    {
        flex: 0 0 70px;
        height: 70px;
        margin-right: 5px;
    }

    .u-posts-grid .u-post-item
    {
        flex: 1 1 170px;
    }

    .u-posts-grid .u-post-item-summary
    {
        height: 70px;
    }

    .u-posts-display-type-btn
    {
        display: none !important;
    }

    .u-post-title
    {
        font-size: 90%
    }

    .u-post-content .markdown-body
    {
        font-size: 80%;
    }
}

